body {
    margin: 0;
    padding: 0;
}

.titreContainer{
    display: flex;
    height: 65px;        
    justify-content: space-between;
    background-color: #005EB8;    /* Couleur de fond */
    align-items: center;
    color: white;
    padding: 5px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
    width: 100%;
}

.titre{
    width: 100%;
    height: auto;
    text-align: center;          /* Centrer le texte horizontalement */
    font-size: min(40px, calc(15px + 3vw));
    font-family: "Roboto", "sans-serif";
    align-self: center;

}

.toggleBnt{
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
    margin-right: 20px;
}

.toggleBnt:hover {
    scale:1.2;
}

.big{
    width: calc(min(40px, 7vw)) ;  /* Largeur du bouton */
    height: calc(min(35px, 6.8vw)); /* Hauteur du bouton */
    margin-left: 20px;
}

.hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    align-self: left;
}
/* Styles des barres */
.hamburger-btn .bar {
    width: 100%;
    border-radius: 2px;
    transition: background-color 0.3s;
}

.big-bar{
    height: 4px; /* Épaisseur de chaque barre */
    /*margin-top: 3px; /* Espacement vertical entre les barres */
    background-color: white; /* Couleur des barres */
}


/* Changement de couleur au survol */
.hamburger-btn:hover .bar {
    scale:1.1;
}


.sensorListoverlay {
    position: absolute; /* Changez 'fixed' à 'absolute' pour le positionnement relatif au parent */
    top: 85px; /* Ajustez ceci en fonction de la hauteur de votre barre de titre pour qu'il apparaisse juste en dessous */
    /*left: 10px; /* Positionné sur le côté gauche de la page */
    height: auto; /* Hauteur de la popup */
    width: min(85%, 370px); /* Largeur fixe de 350px */
    background-color: rgba(255, 255, 255, 0.95); /* Fond semi-transparent */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
    display: none; /* Masquer l'overlay initialement */
    z-index: 1000;
    border-radius: 10px;
    overflow-y: auto;
    padding: 12px;
    padding-top:15px;
    padding-bottom:15px;
}

.right{
    right: 10px;
}

.left{
    left: 20px;
}

.center{
    left:150px;
}

.sensorListFormTitle {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments au centre */
    justify-content: space-between;
    font-size: min(24px, calc(15px + 1.5vw));
    font-family: "Roboto", "sans-serif";
    background-color: #005EB8;
    width: 100%; /* Largeur ajustée pour inclure le padding */
    padding: 12px;
    color: white;
    border-radius: 10px 10px 0 0;
    margin-top:-15px; /* Ajuste la marge pour compenser le padding du conteneur */
    margin-left:-12px;
}

.sensor-list1 {
 display: flex; /* Active Flexbox */
  flex-wrap: nowrap; /* Empêche le passage à la ligne */
  overflow-x: auto; /* Active le défilement horizontal */
  white-space: nowrap; /* Évite les sauts de ligne si du texte est contenu */
  gap: 20px; /* Espace entre les divs enfants */
  padding: 10px; /* Optionnel : pour un peu d'espace intérieur */
  font-size: min(20px, calc(15px + 1.5vw));
  font-family: "Roboto", "sans-serif";
}

.sensor-column {
  flex: 0 0 auto; /* Garantit que les divs ne se redimensionnent pas automatiquement */
  width: auto; /* Largeur de chaque div */
  height: auto; /* Hauteur de chaque div */
  border-right: #ccc solid 1px;
  padding-right: 10px;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.sensor-colum-title{
    size : 22px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #01488b;
}

.senror-colum-label{
    margin-left:5px;
}

.setting{
    gap:10px;
    justify-content: center;
    position: relative;
    width: 100%;          /* Largeur du conteneur de la liste */
    height: auto;         /* Hauteur fixe pour afficher 4 éléments */
    overflow-y: auto;      /* Activer le défilement vertical */
    padding: 10px;         /* Padding interne */
    margin-left: -10px;
}

.inline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    font-size: min(18px, calc(10px + 1.5vw));
    font-family: "Roboto", "sans-serif";
}

.inputs{      
    width: 60%; 
    padding: 2px 2px; 
    margin-right: 0px;
    font-size:15px; 
    color: black;
}

.bold{
    font-weight: 600;
    color: #012446;
}

.checkbox{
    border:black solid 1px;
}

.save {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #005EB8;
    color: white;
    width: auto;
    margin-top: 15px;
    margin-left: 40%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.save:hover{
    scale:1.2;
}

.chart {
    position: relative;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.graph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

.close-btn:hover {
    color: #ff5555;
    scale:1.2;
}


/* Canvas prend toute la place du conteneur */
.graph {
    width: 100%;     /* Ajuste la largeur du canvas à 100% du conteneur */
    height: 93%;    /* Ajuste la hauteur du canvas à 100% du conteneur */
}

/* Réduction de la taille du texte de l'en-tête si l'écran est trop petit */
h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.container{
    width:99%;
    padding-bottom: 50px;
}
.chart-container {
    position: relative;
    width: min(95%, 1400px);
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(90%, 700px));
}

@media (min-width: 1200px) {
    .chart-container {
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); /* 2 max, avec largeur min */
    }
}

.chart {
    display: block;
    align-items: center;
    height: 400px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: relative;
    padding: 10px;
    max-width: 700px;
}

/* Style pour la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff5555;
    scale:1.2;
    text-decoration: none;
    cursor: pointer;
}

.config-btn{
    background-color: transparent;
    border:none;
    font-size: 20px;
}

.config-btn:hover{
    scale:1.2;
}


.addGraphcontainer{
    display:none;
}

.bas_page{
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    background-color: #005EB8; /*#5ba12b;    /* Couleur de fond */
    margin-top: 100px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
    color : white;
    text-align: center;
    padding: 10px;
    font-family: "Roboto", "sans-serif";
}